<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="/css/default.css" rel="stylesheet" type="text/css">
  <title>Twitter Real Time Search Results</title>
</head><body>
  
  <h1>Twitter Real Time Search Results</h1>
  
  <div class="container">
    <div>Sign in with Twitter to use this service.</div>
    <div>
      <a href="<%=h @login_url %>">
        <img src="/images/sign-in-with-twitter-d.png">
      </a>
    </div>
  </div>
  
</body></html>
